.navbar {
  &__brand {
    &:hover {
      text-decoration: underline;
    }
    font-size: 3rem;
    text-decoration: none;
    color: #ffffff;
  }

  &__links {
    &__link {
      &:hover {
        text-decoration: underline;
      }
      font-size: 1.5rem;
      text-decoration: none;
      color: #ffffff;
    }
  }

  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
